body {
    font-family: Arial, sans-serif;
    background-image: url(../img/bg.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
  
#video-container {
    position: relative;
    max-width: 640px;
    margin: 0 auto;
}
   
#video-link {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    margin-top: 10px;
}

section.home {
    padding: 40px 20px 0px 20px;
}

section.home .box {
  background-color: #fff;
  border-radius: 20px;
  padding: 40px 20px 40px 20px;
}

section.home .box h2 {
  text-transform: uppercase;
  color: #1f272b;
  border-top: 1px solid #eee;
  margin-top: 40px;
  padding-top: 20px;
  font-size: 22px;
  font-weight: 700;
}

section.home .box input {
  width: 100%;
  height: 50px;
  border-radius: 20px;
  background-color: #f7f7f7;
  outline: #1f272b;
  border: none;
  box-shadow: none;
  font-size: 13px;
  font-weight: 500;
  color: #7a7a7a;
  padding: 0px 15px;
  margin-bottom: 30px;
}

section.home .box button {
  font-size: 13px;
  color: #fff;
  background-color: #a12c2f;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 22px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all .3s;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}

section.home .box button:hover {
  opacity: 0.9;
}

.instructions {
  padding: 40px 20px 0px 20px;
  align-items: center;
}

.instructions .item {
  background-color: rgba(0,0,0,0.2);
  padding: 40px;
  margin-bottom: 30px;
  border-radius: 20px;
}

.instructions .item h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.instructions .item p {
  color: #fff;
  margin-bottom: 20px;
}

iframe {
  padding-right: 40px;
}